<!DOCTYPE html>
<html>
	<head>
		<title>Add Property</title>
		<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./assets/css/theme-styles.css">
		<link rel="stylesheet" type="text/css" href="./assets/css/dropzone.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
	</head>
	<body ng-app="propertyApp" ng-controller="propertyCtrl">
		<div class="container main">
			
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				
				<li class="active">Add project</li>
			</ul>
			
			<ul class="steps">
				<li id="overview" class="" ng-class="{active: currentFormSection == 1}">
					<a id="overviewLink" class="first-step" ng-click="showSection(1)">1. Overview
						<!-- <i id="overviewImage" class="fa fa-check"></i> -->
					</a>
				</li>
				<li id="gallery" class="" ng-class="{active: currentFormSection == 2}">
					<span class="triangle"></span>
					<a id="galleryLink" ng-click="showSection(2)">2. Map &amp; Gallery
						<!-- <i id="galleryImage" class="fa fa-check-empty"></i> -->
					</a>
					
				</li>
				<li id="rates" class="" ng-class="{active: currentFormSection == 3}">
					<span class="triangle"></span>
					<a id="ratesLink" ng-click="showSection(3)">3. Rates<i id="ratesImage" class="fa fa-check-empty"></i></a>
					
				</li>
				<li id="reviews" class="" ng-class="{active: currentFormSection == 4}">
					<span class="triangle"></span>
					<a id="reviewsLink" ng-click="showSection(4)">4. Contact &amp; Reviews
						<!-- <i id="reviewsImage" class="fa fa-check"></i> -->
					</a>
					
				</li>
				
				<li>
					<span class="triangle"></span>
				</li>
			</ul>
			
			<div class="loader" ng-show="!currentFormSection"></div>

			<div ng-include="'./angular/properties/templates/property-form/overview.html'"></div>
			
			<div ng-include="'./angular/properties/templates/property-form/mapNgallery.html'"></div>

			<div ng-include="'./angular/properties/templates/property-form/rates.html'"></div>

			<div ng-include="'./angular/properties/templates/property-form/contactNreviews.html'"></div>

		</div>
		<footer class="bottom-menu">
			<div class="container">
				<div class="row">
					<div class="span12">
						<small class="pull-right copyright"><em>© Copyright 2019. All rights reserved.</em></small>
					</div>
				</div>
			</div>
		</footer>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- TinyMCE -->
	<script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
	<script src="./assets/js/dropzone.js"></script>
	<script src="./angular/angular.js"></script>
	<script src="./angular/angular-route.js"></script>
	<script src="./angular/angular-resource.js"></script>
	<script src="./angular/tinymce.js"></script>
	<script src="./angular/dropzone-directive.js"></script>
	<script src="./angular/properties/properties.app.js"></script>
	<script src="./angular/properties/properties.routes.js"></script>
	<script src="./assets/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="./assets/js/bootstrap/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</html>