@font-face {
  font-family: GothamBookRegular;
  src: url(./fonts/gotham_book_regular.otf);
}

body, button, input, select, textarea {
font-family: Roboto,sans-serif;
font-size: 14px;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.breadcrumb {
padding: 8px 15px;
margin: 0 0 20px;
list-style: none;
background-color: #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.breadcrumb {
font-size: 14.99px;
font-weight: 700;
padding: 13px 20px;
}
.breadcrumb {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
border-bottom: 0 none;
background-color: #fff;
margin: 0;
}
.breadcrumb>li {
text-shadow: none;
}
.breadcrumb>li, .dialog, .has-switch, .has-switch label, .has-switch span, .has-switch>div {
position: relative;
}
.breadcrumb>li {
display: inline-block;
}
.breadcrumb>li, .close {
text-shadow: 0 1px 0 #fff;
}
a {
color: #fa4133;
-webkit-transition: .25s;
-moz-transition: .25s;
-o-transition: .25s;
transition: .25s;
text-decoration: none;
}
.steps { overflow: hidden; list-style: none; padding: 0; }
.steps, .steps li { margin: 0; background-color: #03e2c6; }
.steps li.active { background-color: #03c9a9; }
.steps li { float: left; padding-right: 10px; height: 45px; }
.steps li a.first-step, .steps li a.first-step:hover {
	background: 0 0!important;
}
.steps li a {
font-size: 18px;
padding: .7em .5em .7em 3em;
float: left;
color: #fff;
display: flex;
align-items: center;
}
.steps li a>i { top: 1px; }
.has-roomtypes .amenities-title h4 .btn, .steps li a>i { margin-left: 10px; }
.steps li.active+li>.triangle, .steps li.active.disabled+li>.triangle {
border-left-color: #03c9a9;
}
.steps li .triangle {
border-bottom: 23px solid transparent;
border-left: 23px solid #03e2c6;
border-top: 23px solid transparent;
content: "";
height: 0;
position: absolute;
left: 0;
width: 0;
}
.steps li, .steps li a, .steps li a>i {
position: relative;
}
.container.main, .separator-vertical {
border: 1px solid #DDD;
border-top-color: transparent;
padding: 0;
}
.step-content fieldset legend {
font-size: 24px;
line-height: 40px;
font-weight: 700;
margin: 10px 0;
text-rendering: optimizelegibility;
background-color: #F0F0F0;
width: 100%;
}
.step-content {
background-color: #fff;
margin-top: 0;
}
.step-content .content { margin: 10px; }
.step-content fieldset legend:before {
content: " ";
margin-left: 10px;
}
.tab-content, fieldset .tab-content {
border: 1px solid rgba(0,0,0,.3);
margin-top: 1px;
}
fieldset .tab-content {
padding: 0 10px;
margin-bottom: 20px;
}
.nav-tabs.nav-tabs-custom {
border-bottom: none;
}
.nav-tabs.nav-tabs-custom li {
	margin-bottom: -2px;
	z-index: 2;
}
.nav-tabs.nav-tabs-custom>li.active>a {
border: 1px solid rgba(0,0,0,.3);
border-bottom-color: transparent;
}
fieldset .tab-content { padding-top: 20px; }
*, h1, h2, h3 {
		font-family: GothamBookRegular;
		font-weight: 300;
}
label { font-weight: normal; }
.tab-pane {
height: 100%;
margin: 0 auto;
padding: 20px 0 0; }

.muted { color: #afb6bb; margin-top: 10px; }
.bottom-menu { background: #e9eaeb; color: #b3b6b8; padding: 40px 0; margin-top: 40px; }
span.select2.select2-container { width: 200px !important; display: block; }
h1, h2, h3, h4, h5, h6 { margin: 1em 0; }
.has-roomtypes .amenities-title h4 { color: #333; font-size: 22px; }
.feature-2>select, .has-roomtypes .amenities-list, .has-roomtypes fieldset .hint {
    margin-top: 5px;
}
.mb-40 { margin-bottom: 40px; }
.margin-none { margin: 0 !important; }

.md-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left;
}
.md-checkbox.md-checkbox-inline {
  display: inline-block;
}
.md-checkbox label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}
.md-checkbox label:not(:empty) {
  padding-left: 0.75em;
}
.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.md-checkbox label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background .3s;
}
.md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
.md-checkbox .form-group {
	margin-left: -15px;
  margin-right: 15px;
  padding-top: 10px;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #337ab7;
  border: none;
}
.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
.md-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}
.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}

*, *:before, *:after {
  box-sizing: border-box;
}

.has-roomtypes fieldset .property-name {
    padding: 10px;
    background-color: #DDD;
    margin-top: 10px;
}
.has-roomtypes fieldset .property-name>span {
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 700;
}
.has-roomtypes fieldset .property {
    padding: 10px;
    border-left: 10px solid #DDD;
    border-bottom: 10px solid #DDD;
    border-top: 2px solid #DDD;
    border-right: 10px solid #DDD;
    margin-bottom: 10px;
}

.label-small-inputs { display: block; }
.medium-input { width: 150px; display: inline-block; }
.small-input { width: 90px; display: inline-block; }
.has-roomtypes .amenities-list input {
    width: 25px;
    height: 14px;
    padding: 4px 0;
}
.count-input { 
	width: 25px;
  height: 15px;
  padding: 10px 6px;
  display: inline-block;
  margin-left: 10px;
}
.steps li a { text-decoration: none; cursor: pointer; }
.bottom-btns { padding: 20px 10px; }
.bottom-btns .btn:last-child { margin-right: 10px; }
.container.main { min-height: calc(100vh - 20vh) }


label.one {
    cursor:pointer !important;
    overflow:hidden;
    display:block;
    position:relative;
    width:100%; 
    height:100px;
    background:whitesmoke; 
    border-radius:4px;
    font:caption; 
    text-align:center; 
    border:1px dotted silver;
    box-sizing:border-box;
    
}

label.one p { padding-top:16px; font-size:16px; } 
label.one span { display:block; font-size:10px;}    
label.one img  { position:absolute; top:0; left:0; height:100px;}
label.one input{
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    font-size:9999px;
    opacity:0;
    cursor:pointer;
}
.rentalType-images { width: 200px; height: 200px; }
li.images-item.ng-scope {
    display: inline-block;
    margin: 10px;
    border: 1px solid #e9e9e9;
}
.callout {
    position: relative;
    padding: 18px 20px;
    background-color: #eef4f9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}