@font-face {
  font-family: GothamBookRegular;
  src: url(./fonts/gotham_book_regular.otf);
}

body, button, input, select, textarea {
font-family: Roboto,sans-serif;
font-size: 14px;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.breadcrumb {
padding: 8px 15px;
margin: 0 0 20px;
list-style: none;
background-color: #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.breadcrumb {
font-size: 14.99px;
font-weight: 700;
padding: 13px 20px;
}
.breadcrumb {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
border-bottom: 0 none;
background-color: #fff;
margin: 0;
}
.breadcrumb>li {
text-shadow: none;
}
.breadcrumb>li, .dialog, .has-switch, .has-switch label, .has-switch span, .has-switch>div {
position: relative;
}
.breadcrumb>li {
display: inline-block;
}
.breadcrumb>li, .close {
text-shadow: 0 1px 0 #fff;
}
a {
color: #fa4133;
-webkit-transition: .25s;
-moz-transition: .25s;
-o-transition: .25s;
transition: .25s;
text-decoration: none;
}
.steps { overflow: hidden; list-style: none; padding: 0; }
.steps, .steps li { margin: 0; background-color: #03e2c6; }
.steps li.active { background-color: #03c9a9; }
.steps li { float: left; padding-right: 10px; height: 45px; }
.steps li a.first-step, .steps li a.first-step:hover {
	background: 0 0!important;
}
.steps li a {
font-size: 18px;
padding: .7em .5em .7em 3em;
float: left;
color: #fff;
display: flex;
align-items: center;
}
.steps li a>i { top: 1px; }
.has-roomtypes .amenities-title h4 .btn, .steps li a>i { margin-left: 10px; }
.steps li.active+li>.triangle, .steps li.active.disabled+li>.triangle {
border-left-color: #03c9a9;
}
.steps li .triangle {
border-bottom: 23px solid transparent;
border-left: 23px solid #03e2c6;
border-top: 23px solid transparent;
content: "";
height: 0;
position: absolute;
left: 0;
width: 0;
}
.steps li, .steps li a, .steps li a>i {
position: relative;
}
.container.main, .separator-vertical {
border: 1px solid #DDD;
border-top-color: transparent;
padding: 0;
}
.step-content fieldset legend {
font-size: 24px;
line-height: 40px;
font-weight: 700;
margin: 10px 0;
text-rendering: optimizelegibility;
background-color: #F0F0F0;
width: 100%;
}
.step-content {
background-color: #fff;
margin-top: 0;
}
.step-content .content { margin: 10px; }
.step-content fieldset legend:before {
content: " ";
margin-left: 10px;
}
.tab-content, fieldset .tab-content {
border: 1px solid rgba(0,0,0,.3);
margin-top: 1px;
}
fieldset .tab-content {
padding: 0 10px;
margin-bottom: 20px;
}
.nav-tabs.nav-tabs-custom {
border-bottom: none;
}
.nav-tabs.nav-tabs-custom li {
	margin-bottom: -2px;
	z-index: 2;
}
.nav-tabs.nav-tabs-custom>li.active>a {
border: 1px solid rgba(0,0,0,.3);
border-bottom-color: transparent;
}
fieldset .tab-content { padding-top: 20px; }
*, h1, h2, h3 {
		font-family: GothamBookRegular;
		font-weight: 300;
}
label { font-weight: normal; }
.tab-pane {
height: 100%;
margin: 0 auto;
padding: 20px 0 0; }

.muted { color: #afb6bb; margin-top: 10px; }
.bottom-menu { background: #e9eaeb; color: #b3b6b8; padding: 40px 0; margin-top: 40px; }
span.select2.select2-container { width: 200px !important; display: block; }
h1, h2, h3, h4, h5, h6 { margin: 1em 0; }
.has-roomtypes .amenities-title h4 { color: #333; font-size: 22px; }
.feature-2>select, .has-roomtypes .amenities-list, .has-roomtypes fieldset .hint {
    margin-top: 5px;
}

.mb-40 { margin-bottom: 40px; }
.mb-10 { margin-bottom: 10px; }

.margin-none { margin: 0 !important; }

*, *:before, *:after {
  box-sizing: border-box;
}

.has-roomtypes fieldset .property-name {
    padding: 10px;
    background-color: #DDD;
    margin-top: 10px;
}
.has-roomtypes fieldset .property-name>span {
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 700;
}
.has-roomtypes fieldset .property {
    padding: 10px;
    border-left: 10px solid #DDD;
    border-bottom: 10px solid #DDD;
    border-top: 2px solid #DDD;
    border-right: 10px solid #DDD;
    margin-bottom: 10px;
}

.label-small-inputs { display: block; }
.medium-input { width: 150px; display: inline-block; }
.small-input { width: 70px; display: inline-block; }
.has-roomtypes .amenities-list input {
    width: 25px;
    height: 14px;
    padding: 4px 0;
}
.count-input { 
	width: 25px;
  height: 15px;
  padding: 10px 6px;
  display: inline-block;
  margin-left: 10px;
}
.steps li a { text-decoration: none; cursor: pointer; }
.bottom-btns { padding: 20px 10px; }
.bottom-btns .btn:last-child { margin-right: 10px; }
.container.main { min-height: calc(100vh - 20vh) }


label.one {
    cursor:pointer !important;
    overflow:hidden;
    display:block;
    position:relative;
    width:100%; 
    height:100px;
    background:whitesmoke; 
    border-radius:4px;
    font:caption; 
    text-align:center; 
    border:1px dotted silver;
    box-sizing:border-box;
    
}

label.one p { padding-top:16px; font-size:16px; } 
label.one span { display:block; font-size:10px;}    
label.one img  { position:absolute; top:0; left:0; height:100px;}
label.one input{
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    font-size:9999px;
    opacity:0;
    cursor:pointer;
}
.rentalType-images { width: 200px; height: 200px; }
li.images-item.ng-scope {
    display: inline-block;
    margin: 10px;
    border: 1px solid #e9e9e9;
}
.callout {
    position: relative;
    padding: 18px 20px;
    background-color: #eef4f9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.header-line { margin: 10px; }




md-radio-button.md-default-theme .md-off, 
md-radio-button .md-off {
  border-color: rgba(0,0,0,0.54);
}

md-radio-button.md-default-theme.md-checked .md-off, 
md-radio-button.md-checked .md-off {
  border-color: rgb(64, 137, 255);
}

md-radio-button.md-default-theme .md-on, 
md-radio-button .md-on {
  background-color: rgb(64, 137, 255);
}

md-radio-group.md-default-theme .md-checked .md-ink-ripple, 
md-radio-group .md-checked .md-ink-ripple {
  color: rgb(64, 137, 255);
}

md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before, 
md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
  background-color: rgba(64, 137, 255, 0.46);
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon, md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
    background-color: rgb(64, 137, 255);
}

.radioButtondemoBasicUsage body { padding: 20px; }
.radioButtondemoBasicUsage hr { margin-left: -20px; opacity: 0.3; }
.radioButtondemoBasicUsage md-radio-group { width: 150px; }
.radioButtondemoBasicUsage p:last-child { padding-bottom: 50px; }
.radioButtondemoBasicUsage [ng-controller] { padding-left: 20px; }

.radioButtondemoBasicUsage .radioValue {
  margin-left: 2px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px; 
}
.radioButtondemoBasicUsage .ipsum {
  color: saddlebrown;
  font-size: 0.9em; 
}

label.append-text { 
    background: #cccccc;
    padding: 5px 10px 10px 10px;
    margin-left: -6px;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    vertical-align: top;
    line-height: 3rem;
    display: inline !important;
}
input:focus + label.append-text { 
  background: #66afe9; 
  webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.block-btns { display: block !important; }
.block-btns md-radio-button { margin-bottom: 15px !important; }
.field-group-title { margin: 1em 0; color: #666; font-weight: 400; font-size: 22.99px; line-height: 1.2em; }
.bubble { background: #fff; border: 2px solid #DDD; border-radius: 5px; padding: 10px; }
.bubble, .bubble .head { margin-bottom: 10px; }
.bubble.review { border: 2px solid #03e2c6; }
.total-rating { font-size: 16px; }
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
}
.rating .filled {
    color: #ffd400;
}
.clear{
  margin-top:20px;
}