<div id="contactNreviews" class="step-content has-roomtypes" ng-show="currentFormSection == 4">
	<fieldset>
		<legend>Contact</legend>
		<div class="content">
			<div class="row-fluid">
				
			</div>
		</div>
	</fieldset>

</div>


<div class="row bottom-btns" ng-show="currentFormSection == 4">
	<div class="col-md-12">
		<button class="btn btn-md btn-success pull-right" ng-click="showSection(currentFormSection + 1)">Save and Continue</button>
		<button class="btn btn-md btn-success pull-right">Save</button>
	</div>
</div>