<div id="mapNgallery" class="step-content has-roomtypes" ng-show="currentFormSection == 2">
	<fieldset>
		<legend>Location</legend>
		<div class="content">
			<div class="row-fluid">
				
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Gallery</legend>
		<div class="content">
			<div ng-repeat="(key, rentalType) in property.rentalTypes">
				<div class="property-name form-horizontal ">
					<span>Rental Type  #{{key + 1}}</span>
				</div>
				
				<div class="property">
					<div class="row">
						<div class="col-md-12">
							<div id="dropzone{{key+1}}" ui-sortable class="dropzone" options="dzOptions" callbacks="dzCallbacks" ng-dropzone ng-model="rentalType.gallery" ng-click="myFunction(key)"></div>
		<!-- <div drop-zone ng-model="rentalType.gallery" class="one">
        <p>Drop files here <span>(or click to upload)</span></p>
    </div>

	    <ul ui-sortable ng-model="rentalType.gallery">
        <li ng-repeat="file in rentalType.gallery" class="images-item">
        	<img ng-if="file.type.indexOf('image')!==-1" src="{{file.data}}" class="rentalType-images" />
     		</li>
	    </ul> -->


    <!-- Show images -->        
    <!-- <img ng-repeat="file in rentalType.gallery" 
         ng-if="file.type.indexOf('image')!==-1"
         src="{{file.data}}" class="rentalType-images" /> -->

							<!-- Show images -->        
    					<!-- <img ng-repeat="file in rentalType.gallery" ng-if="file.type.indexOf('image')!==-1" src="{{file.data}}" /> -->
						</div>
					</div>
				</div>

			</div>
			
		</div>
	</fieldset>
	
</div>


<div class="row bottom-btns" ng-show="currentFormSection == 2">
	<div class="col-md-12">
		<button class="btn btn-md btn-success pull-right" ng-click="showSection(currentFormSection + 1)">Save and Continue</button>
		<button class="btn btn-md btn-success pull-right">Save</button>
	</div>
</div>