<div id="overview" class="step-content has-roomtypes" ng-show="currentFormSection == 1">
	<fieldset>
		<legend>Property Description</legend>
		<div class="content">
			<div class="row-fluid">
				
				<ul class="nav nav-tabs nav-tabs-custom">
					<li class="active"><a data-toggle="tab" data-target="#english">English</a></li>
				</ul>
				<div class="tab-content">
					<div id="english" class="tab-pane fade in active">
						<!-- <div id="dropzone1" class="dropzone" options="dzOptions" callbacks="dzCallbacks" ng-dropzone></div> -->
						<div class="form-group">
							<label for="property-name">Property Name</label>
							<input type="text" class="form-control" name="property-name" ng-model="property.name" id="property-name" placeholder="e.g. &quot;Blue Sky Vacation Rental&quot;">&nbsp;
							<small class="muted pull-right">Max. characters: 60</small>
						</div>
						<div class="form-group">
							<label for="property-headline">Headline</label>
							<input type="password" class="form-control" id="property-headline" name="property-headline" placeholder="e.g. &quot; Luxurious home with spectacular mountain view.&quot;">&nbsp;
							<small class="muted pull-right">Max. characters: 110</small>
						</div>
						<div class="form-group mb-40">
							<label for="property-description">Description</label>
							<textarea data-ui-tinymce id="tinymce1" data-ng-model="from_one.from_one"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Property Details</legend>
		<div class="content">
			<div class="form-group">
				<label for="property-type">Property Type</label>
				<select class="form-control" select2="" name="type" data-ng-model="property.type" ng-options="c.name as c.name for c in property.types">
					<option value="">Select Property Type</option>
				</select>
			</div>
			<hr>
			<div class="row-fluid amenities-title">
				<div class="span12">
					<h4>Key Facts </h4>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-3">
						<md-checkbox ng-model="facts.breakfastIncluded" aria-label="breakfastIncluded" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Breakfast Included </md-checkbox>
					</div>
					<div class="col-md-3">
						<md-checkbox ng-model="facts.creditCardsAccepted" aria-label="creditCardsAccepted" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Credit cards accepted </md-checkbox>
					</div>
					<div class="col-md-3">
						<md-checkbox ng-model="facts.accesible247" aria-label="accesible247" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Accesible 24/7 </md-checkbox>
					</div>
					<div class="col-md-3">
						<md-checkbox ng-model="facts.elevatorInBuiling" aria-label="elevatorInBuiling" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Elevator in builing </md-checkbox>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-3">
						<md-checkbox ng-model="facts.parking" aria-label="parking" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Parking </md-checkbox>
						<div class="form-group">
							<select class="form-control">
								<option>Roofed Carport</option>
								<option>Parking Garage</option>
								<option>Parking Lot</option>
								<option>Parking-on-street</option>
								<option>Parking available</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<md-checkbox ng-model="facts.parking2" aria-label="parking2" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Parking </md-checkbox>
						<div class="form-group">
							<select class="form-control">
								<option>Parking Included</option>
								<option>Parking Optional</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<md-checkbox ng-model="facts.outdoorSwimmingPool" aria-label="outdoorSwimmingPool" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Outdoor swimming pool </md-checkbox>
					</div>
					<div class="col-md-3">
						<md-checkbox ng-model="facts.indoorSwimmingPool" aria-label="indoorSwimmingPool" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Indoor swimming pool </md-checkbox>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Rental Types</legend>
		<div class="content">
			<div ng-repeat="(key, rentalType) in property.rentalTypes">
				<div class="property-name form-horizontal" ng-init="rentalType.index = key+1">
					<span ng-init="rentalType.name = 'Rental Type #'+rentalType.index">{{rentalType.name}}</span>
					<div class="pull-right clearfix">
						<a class="btn btn-flat btn-danger">
							<i class="fa fa-trash">&nbsp;</i>
							Delete
						</a>
						<a class="btn btn-flat btn-info" ng-hide="property.currentRentalType == {{rentalType.index}}" ng-click="allowEditRentalType(rentalType.index)">
							<i class="fa fa-edit">&nbsp;</i>
							Edit
						</a>
						<a class="btn btn-flat btn-default" ng-hide="property.currentRentalType != {{rentalType.index}}" ng-click="cancelRentalTypeEdit()">
							<i class="fa fa-remove">&nbsp;</i>
							Cancel
						</a>
					</div>
				</div>
				
				<div class="property" ng-hide="property.currentRentalType != {{rentalType.index}}">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group col-md-4">
								<label for="suitedPerson">Suited for (persons):</label>
								<input id="suitedPerson" type="text" name="suitedPerson" ng-model="rentalType.suitedFor" class="form-control">
							</div>
							<div class="form-group col-md-4">
								<label for="size" class="label-small-inputs">Size:</label>
								<select class="form-control medium-input" ng-model="rentalType.sizeDim">
									<option value="sqm">Square Meter</option>
									<option value="sqft">Square Feet</option>
								</select>
								<input id="size" type="text" name="size" ng-model="rentalType.sizeLength" class="form-control small-input">
							</div>
							<div class="form-group col-md-4">
								<label for="unitNumber">No. of Units</label>
								<input id="unitNumber" type="text" name="unitNumber" ng-model="rentalType.noOfUnit" class="form-control">
							</div>
						</div>
					</div>
					<hr>
					<div class="row-fluid amenities-title">
						<div class="span12">
							<h4>Rooms: </h4>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-3">
								<md-checkbox ng-model="rentalType.bathroom.have" aria-label="bathroom{{key}}" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Bathroom </md-checkbox>
								<input type="text" name="bathroomCount" class="form-control count-input" ng-model="rentalType.bathroom.count">
								<div class="form-group">
									<select class="form-control" ng-model="rentalType.bathroom.type">
										<option value="private">Private</option>
										<option value="shared">Shared</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<md-checkbox ng-model="rentalType.bedroom.have" aria-label="bedroom{{key}}" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Bedroom </md-checkbox>
								<input type="text" name="bedroomCount" class="form-control count-input" ng-model="rentalType.bedroom.count">
								<div class="form-group">
									<select class="form-control" ng-model="rentalType.bedroom.type">
										<option value="private">Private</option>
										<option value="shared">Shared</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<md-checkbox ng-model="rentalType.kitchen.have" aria-label="kitchen{{key}}" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Kitchen </md-checkbox>
								<input type="text" name="kitchenCount" class="form-control count-input" ng-model="rentalType.kitchen.count">
								<div class="form-group">
									<select class="form-control" ng-model="rentalType.kitchen.type">
										<option value="private">Private</option>
										<option value="shared">Shared</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<md-checkbox ng-model="rentalType.balcony.have" aria-label="balcony{{key}}" ng-true-value="true" ng-false-value="false" class="md-primary md-align-top-left"> Balcony </md-checkbox>
								<div class="form-group">
									<select class="form-control" ng-model="rentalType.balcony.type">
										<option value="private">Private</option>
										<option value="shared">Shared</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					
					<p>&nbsp;</p>
					<div class="clearfix"></div>
					<div class="pull-right">
						<a class="btn btn-primary btn-flat btn-large" ng-click="saveRentalType()">
							<i class="fa fa-save"></i>
							Save apartment/room
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span12">
					<br>
					<a class="btn btn-info btn-flat btn-large" ng-click="addRentalType()">
						<i class="fa fa-plus"></i>
						Add another apartment / room
					</a>
				</div>
			</div>
		</div>
	</fieldset>
	
</div>
<div class="row bottom-btns" ng-show="currentFormSection == 1">
	<div class="col-md-12">
		<button class="btn btn-md btn-success pull-right" ng-click="showSection(currentFormSection + 1)">Save and Continue</button>
		<button class="btn btn-md btn-success pull-right">Save</button>
	</div>
</div>